.square {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.square-toggled {
    fill: #06D6A0;
}

.square-checked {
    fill: #FFD166;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    fill: black;
}

.text-toggled {
    fill: black;
}

.text-checked {
    fill: black;
}
