.square {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.square-toggled {
    fill: blue;
}

.square-checked {
    fill: yellow;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    fill: black;
}

.text-toggled {
    fill: white;
}

.text-checked {
    fill: black;
}
